* {
    font-family: 'Montserrat', sans-serif;
}


.margin-top-20 {
    margin-top: 20px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.navbar {
  min-height: 56px;
}


.navbar-default {
    background-color: #2c3e50;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
}

.navbar-default .navbar-brand {
    color: white;
    font-size: 20px;
    font-weight: 700;
    /* padding-top: 30px; */

}

.navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #1abc9c;
}

.navbar-toggle {
  background-color: #1abc9c;
  color: white;
  border: 0;
  padding: 10px;
  vertical-align: middle;

}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #148f77;
}

.menu-toggle {
  margin-left: 10px;
  float: right;
  padding-top: 3px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

main {
  padding-top: 56px;
}

.coloured {
    background-color: #1abc9c;
    color: white;
}

 #avatar-icon {
     max-width: 240px;

 }

h1 {
    font-size: 44px;
    font-weight: 700;

}

.coloured .separator .fa-star {

    color: white;
    vertical-align: middle;

}

.coloured .fa-star::before,
.coloured .fa-star::after {
  content: '';
  display: inline-block;
  background-color: white;
  width: 100px;
  height: 4px;
  border-radius: 3px;
}

section .fa-star::before,
section .fa-star::after {
  content: '';
  display: inline-block;
  background-color: #2d3e4f;
  width: 100px;
  height: 4px;
  border-radius: 3px;
}

.separator {
  padding: 20px 0;
}

#user-bio  p {
    font-size: 20px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}


#portfolio {
  color: #2d3e4f;
}

#user-bio {
  padding-top: 80px;
}

.postcard {
  max-width: 288px;
}

@media (min-width: 992px) {

  #user-bio  p {
      font-size: 24px;
  }

  h1 {
      font-size: 64px;
      font-weight: 700;
  }

  h2 {
    font-size: 48px;
  }
  .navbar-default .navbar-brand {
      font-size: 28px;
      padding: 0;

  }

  .navbar-default {
      padding-top: 30px;

  }

  .navbar-nav>li>a {
    padding-top: 0;
    line-height: 0;
  }

}

@media (min-width: 768px) {

  .navbar-nav>li>a {
    padding-top: 10;
    line-height: 1.5;
  }

}
